{% extends "layouts/main.html" %}
{% block title %} Myte - Simple Flask {% endblock %}
{% block content %}

<section class="container">
  <div class="container-fluid pt-5">
    <div class="h-100 mx-auto my-auto">
      <div class="text-center">
        <h1 class="fw-bolder p-3"> Hello World! </h1>
        <h3 class="fw-medium p-3"> App is running </h2>
      </div>
      <div class="d-flex justify-content-center">
        <lord-icon src="https://cdn.lordicon.com/upnfmbfj.json" trigger="loop" delay="1000"
          colors="primary:#110a5c,secondary:#dc3545" style="width:200px;height:200px">
        </lord-icon>
      </div>
    </div>
  </div>
</section>

{% endblock %}