{% extends "layouts/main.html" %}

{% block title %} Myte - Simple Flask {%endblock %}

{% block content %}

<section class="full-height bg-color">
  <div class="column-div">

    <div class="half-width xsm-padding-y md-padding-y">
      <a href="https://myte.samdoghor.com" target="_blank">
        <div class="brand-logo-center logo-anim hide-md">
          <img src="/static/img/myte_logo.svg" alt="Myte Logo" class="brand-logo" />
        </div>
      </a>
      <div class="img-holder-md-center">
        <img src="/static/img/around_the_globe.svg" alt="" class="img-holder-md" />
      </div>
      <div class="text-black text-center">
        <span> Image Attribution: </span><a href="https://storyset.com/people" target="_blank" class="text-black">People
          illustrations by
          Storyset</a>
      </div>
    </div>

    <div class="half-width xsm-padding-y bg-color-white full-height md-padding-y">
      <a href="https://myte.samdoghor.com" target="_blank">
        <div class="brand-logo-center logo-anim hide-sm">
          <img src="/static/img/myte_logo.svg" alt="Myte Logo" class="brand-logo" />
        </div>
      </a>
      <div class="md-padding-x">
        <div>
          <p class="text-center medium-title green-sm">
            <a href="https://myte.samdoghor.com" target="_blank" class="green-sm"> Myte </a> +
            <a href="https://flask.palletsprojects.com/" target="_blank" class="green-sm"> Flask </a>
          </p>
        </div>
        <div class="sm-padding-y text-white">
          <h3 class="medium-text xsm-padding-y"> ⚡ Your application is running smoothly</h3>
          <p class="xsm-padding-y small-medium-text green-sm">
            Please do take a look at your files 📑 and make changes 🛠 as your desire.
          </p>
          <p class="xsm-padding-y small-medium-text green-sm">
            There are files your should take a critical look at for proper
            configuration 🤿 to suit what you want.
          </p>
          <ul class="small-text">
            <li>
              ✍🏾 app.py - App entry point, Routes & logic definition.
            </li>
            <li>
              ✍🏾 config.py - All configuration (security & database)
            </li>
            <li> ✍🏾 .env - Environment variable.</li>
            <li> ✍🏾 models.py - Defines your database tables.</li>
          </ul>
        </div>
        <div class="small-text text-white">
          <div class="content">
            <p class="end"> Thank you for using Myte 👌🏾 </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}