[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = {extras = ["all"], version = "*"}
inquirer = "*"
pycodestyle = "*"
flake8 = "*"
mkdocs-material = {extras = ["imaging"], version = "*"}
twine = "*"
build = "*"

[dev-packages]

[requires]
python_version = "3.11"
