@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    overflow: hidden;
    scrollbar-width: 0;
    font-family: "Roboto";
}


/* Image */
.brand-logo {
    width: 14%;
}

.brand-logo-center {
    display: flex;
    justify-content: center;
}
.img-holder-md {
    width: 70%;
    object-fit: cover;
}
.img-holder-md-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide-md {
    display: none;
}
.hide-sm {
    display: flex;
}

/* Page */
.full-height {
    height: 100vh;
}
.half-width {
    width: 50%;
}

.bg-color-white {
    background-color: #e6e6e6
;
}


/* Div */
.column-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Non-Specifics */
.text-center {
    text-align: center;
}
.green-sm {
    color: #142f4e;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.small-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.small-medium-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}
.medium-title {
    font-weight: 700;
    font-size: 24px;
}
.medium-text {
    font-weight: 500;
    font-size: 21px;
}
.xsm-padding-y {
    padding-top: 2%;
    padding-bottom: 2%;
}
.sm-padding-y {
    padding-top: 5%;
    padding-bottom: 5%;
}
.sm-padding-x {
    padding-left: 8%;
    padding-right: 8%;
}
.md-padding-x {
    padding-left: 15%;
    padding-right: 15%;
}

.small-text li {
    list-style: none;
    list-style-position: outside;
    padding-bottom: 1%;
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
* {
    overflow: auto;
}
.column-div {
    width: 100%;
    display: block;
}
.half-width {
    width: 100%;
}
.md-padding-x {
    padding-left: 5%;
    padding-right: 5%;
}
.md-padding-y {
    padding-top: 8%;
    padding-bottom: 8%;
}
.hide-md {
    display: flex;
}
.hide-sm {
    display: none;
}
}