{% extends "layouts/auth.html" %}
{% block title %} Create Account {% endblock %}
{% block content %}
<p class="font-1 f2 wm-grey">
  Create an Account!
</p>
<form class="needs-validation" novalidate action="/auth/register" method="post">
  {{ form.hidden_tag() }}
  {% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissible fade show font-1 f-8" role="alert">
    <span class="{{ category }}">{{ message }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show font-1 f-8" role="alert">
    <span class="{{ category }}">{{ message }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="form-floating mb-3">
    <!-- <input type="text" class="form-control" id="firstName" placeholder="First Name" required> -->
    {{form.firstname(class="form-control", type="text", id="firstName", placeholder="First Name")}}
    <label for="floatingInput">First Name </label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please input your first name
    </div>
  </div>
  <div class="form-floating mb-3">
    <!-- <input type="text" class="form-control" id="lastName" placeholder="Last Name" required> -->
    {{form.lastname(type="text", class="form-control", id="lastName", placeholder="Last Name")}}
    <label for="floatingInput">Last Name </label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please input your last name.
    </div>
  </div>
  <div class="form-floating mb-3">
    <!-- <input type="email" class="form-control" id="email" placeholder="name@example.com" required> -->
    {{form.email(class="form-control", type="email", id="email", placeholder="name@example.com")}}
    <label for="floatingInput">Email address</label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please input a valid email address.
    </div>
  </div>
  <div class="mb-3 form-floating">
    <!-- <input type="password" class="form-control" id="password" placeholder="Password" required> -->
    {{form.password1(type="password", class="form-control", id="password", placeholder="Password")}}
    <label for="floatingPassword">Password</label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please choose a valid password.
    </div>
  </div>
  <div class="mb-3 form-floating">
    <!-- <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password" required onkeyup="matchPassword()"> -->
    {{form.password2(type="password", class="form-control", id="repeatPassword", placeholder="Repeat Password",
    onkeyup="matchPassword()")}}
    <label for="floatingPassword">Confirm Password</label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <span class="text-danger font-1 f1 wm-hide" id="matchPw">
      <p> The password did not match</p>
    </span>
    <div class="invalid-feedback">
      Please repeat your password above.
    </div>
  </div>

  <p class="font-1 f-9 wm-grey">
    By clicking on 'Create Account' button you agree to the Terms of Service and Privacy Policy.
  </p>

  <div class="mb-3">
    <!-- <button type="submit" class="btn btn-th w-100"> Create Account </button> -->
    {{form.submit(type="submit", class="btn btn-th w-100 btn-lg")}}
  </div>
  <div>
    <div>
      <a href="{{url_for('login')}}" class="font-1 f1 text-black"> Already have an Account? Login! </a>
    </div>
  </div>
</form>
{% endblock %}