alembic 
blinker 
click 
colorama 
Flask 
Flask-Cors 
Flask-Migrate 
Flask-SQLAlchemy 
Flask-WTF 
greenlet 
itsdangerous 
Jinja2 
Mako 
MarkupSafe 
python-dotenv 
SQLAlchemy 
typing_extensions 
Werkzeug 
WTForms 
